{
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/(?!components/).*$",
    "^@/components/.*$",
    "^lucide-react$",
    "^vite$",
    "^rollup$|^@rollup/",
    "^react$|^react-dom$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
